# Minecraft runtime folders
asm/
coremods/
crash-reports/
dumps/
fonts/
journeymap/
local/
logs/
mods/
mods-resourcepacks/
patchouli_books/
resourcepacks/
saves/
screenshots/
server-resource-packs/
texturepacks/
TombManyGraves/
woot/
config/agricraft/json/server_team-goennung-de/

# Other files and folders
.mixin.out/

# Additional Files
.Re.Auth.cfg
BotaniaVars.dat
crafttweaker.log
OpenComputersMod-1.7.5.192-lua52-native.64.dll
OpenComputersMod-1.7.5.192-lua53-native.64.dll
options.txt
patchouli_data.json
servers.dat
usercache.json
usernamecache.json
